@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@font-face {
  font-family: "Loker";
  src: url("../public/fonts/Loker.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.inter-font {
  font-family: "Inter", sans-serif;
}

.custom-checkbox {
  appearance: none;
  background-color: rgba(255, 255, 255, 0.5); /* Light gray background */
  border: 2px solid #000000;
  width: 50px;
  height: 50px;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease;
}


/* Style for the emoji when checkbox is checked */
.custom-checkbox:checked::before {
  content: "💐"; 
  font-size: 40px; /* Increase font size */
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%) rotate(-15.23deg) scale(2.5); 
  transition: transform 0.3s ease; 
}

/* Optional: Style for when checkbox is unchecked (reset emoji) */
.custom-checkbox::before {
  content: ""; /* Empty content before check */
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%); /* Center the empty box */
  transition: none;
}

.no-checkbox:checked {
  transform: translateX(-143px); /* Move "No" checkbox towards "Yes" */
  transition: transform 0.4s ease;
  transition-delay: 0.3s;
}

.no-custom-checkbox {
  appearance: none;
  background-color: rgba(255, 255, 255, 0.5); 
  border: 2px solid #000000;
  width: 50px;
  height: 50px;
  position: relative;
  cursor: pointer;
  transition: all 0.2s ease;
}

.no-custom-checkbox:checked::before {
  content: "😠"; 
  font-size: 40px; 
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%) rotate(0.23deg) scale(3.5); 
  transition: transform 0.3s ease; 
}

.no-custom-checkbox::before {
  content: ""; /* Empty content before check */
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%); /* Center the empty box */
  transition: none;
}

.select-checkbox {
  appearance: none;
  background-color: rgba(255, 255, 255, 0.5); /* Light gray background */
  border: 2px solid #000000;
  width: 50px;
  height: 50px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.select-checkbox:checked::before {
  content: "🌷"; 
  font-size: 40px; 
  position: absolute;
  top: -80%; 
  left: 50%;
  transform: translate(-50%, 50%) rotate(0.23deg) scale(0.6); 
  transition: transform 0.3s ease, opacity 0.4s ease;
}

